$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors
$blue: #61c4d9;
$darkgreen: #0b4d3c;


$z-fixed-menu: 100;
 


//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "../css/layout.scss";


//components 

@import "../css/components/description.scss";
@import "../css/components/slider.scss";


